.timeline_icon {
    display: block;
    width: 40px;
    font-size: 20px;
    height: 40px;
    background-color: #f9bf3f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 35px;
    float: left;
  }
  .timeline_icon_2 {
    background: #de1db4;
  }
  .timeline_icon_5 {
    background: #00ffff;
  }
  .timeline_centered {
    z-index: 1;
    position: relative;
    margin-bottom: 30px;
  }
  .timeline_icon_4 {
    background: #ff0040;
  }
  .label {
    position: relative;
    background: #f2f3f7;
    padding: 1.5em;
    margin-left: 60px;
  }
  .label h2 {
    font-size: 20px;
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 500;
    margin: 0 0 30px 0;
    color: #000;
  }
  .label h2 span {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    font-size: 16px;
  }
  .timeline_centered {
    z-index: 1;
    position: relative;
    margin-bottom: 30px;
  }
  .timeline_entry {
    margin-bottom: 10px;
    clear: both;
  }
  .timeline_icon_3 {
    display: block;
    width: 20px;
    font-size: 20px;
    height: 20px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 35px;
    float: left;
  }